<!doctype html>
<html lang="ko">
  <head>
    <script type="text/javascript" src="/pages/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">

      function tableRowspan(tr_group) {
        var $rowspan0 = $('td.col_0', tr_group), $rowspan1 = $('td.col_1', tr_group), $rowspan2 = $('td.col_2', tr_group), $rowspan3 = $('td.col_3', tr_group), $rowspan4 = $('td.col_4', tr_group);
        $($rowspan0[0]).attr('rowspan', tr_group.length);
        $($rowspan1[0]).attr('rowspan', tr_group.length);
        $($rowspan2[0]).attr('rowspan', tr_group.length);
        $($rowspan3[0]).attr('rowspan', tr_group.length);
        $($rowspan4[0]).attr('rowspan', tr_group.length);

        if(tr_group.length > 1){
          $($rowspan0).not($rowspan0[0]).remove();
          $($rowspan1).not($rowspan1[0]).remove();
          $($rowspan2).not($rowspan2[0]).remove();
          $($rowspan3).not($rowspan3[0]).remove();
          $($rowspan4).not($rowspan4[0]).remove();
        };
      };

function removeRowspan(tr_group){
  var $rowspan0 = $('td.col_0', tr_group), $rowspan1 = $('td.col_1', tr_group), $rowspan2 = $('td.col_2', tr_group), $rowspan3 = $('td.col_3', tr_group), $rowspan4 = $('td.col_4', tr_group);
  $($rowspan0[0]).removeAttr('rowspan');
  $($rowspan1[0]).removeAttr('rowspan');
  $($rowspan2[0]).removeAttr('rowspan');
  $($rowspan3[0]).removeAttr('rowspan');
  $($rowspan4[0]).removeAttr('rowspan');
};

function eventonclick(arg) {
  var $tr = $(arg).closest("tr");
  var groupId = $tr.attr("data-groupId");
  var tr_data = $('#stat_table tr[data-groupId=' + groupId + '][data-first=0]');
  var tr_group = $('#stat_table tr[data-groupId=' + groupId + ']');

  if (tr_data.css('display') == 'none') {
    $(arg).text('-');
    tr_data.show();
    tableRowspan(tr_group);
  } else {
    $(arg).text('+');
    tr_data.hide()
    removeRowspan(tr_group);
  };
};

function portMaxValue(arg) {
  arg.value = arg.value.replace(/\D/g, '');
  if (arg.value > 65535) {
    alert ("Port 범위는 1 ~ 65535")
    arg.value = "";
  } else if (arg.value == 0) {
    arg.value = "";
  }
};


function ipCheckValidation(arg) {
  if(((/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(arg.value)) ||
    (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(arg.value)) ||
    (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(arg.value)) ||
    (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(arg.value)) ||
  (/^$/.test(arg.value))) == false)
  {
    alert ("IP Version 4 형식으로 입력 하세요 \nex) \"xxx.xxx.xxx.xxx\" or \"xxx.xxx.xxx\" or \"xxx.xxx\" or \"xxx\"");
    arg.value=""
  }
}

function dateCheckValidation(arg) {
  if(((/^([0-9][0-9][0-9][0-9])\-(0[0-9]|1[0-2])\-(0[1-9]|[1-2][0-9]|3[0-1])\ ([0-1][0-9]|2[0-3])\:([0-5][0-9])\:([0-5][0-9])$/.test(arg.value)) ||
    (/^$/.test(arg.value))) == false)
  {
    alert ("날짜 형식은 연-월-일 시:분:초 입니다 \nex) \"YYYY-MM-DD hh:mm:ss\"");
    arg.value=""
  }
}

    </script>

    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/pages/css/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/pages/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/pages/css/contents.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/pages/css/fontium.css" media="all"/>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <header>        
        <h1>Smart Muti Line</h1>               
      </header>
      <section>
        <div class="path">
          <ul>            
            <li><a href="">Smart Muti Line</a></li>
            <li><a href="">Setting</a></li>
          </ul>
        </div>
        <nav>
          <h1>Smart Muti Line</h1>
          <ul>
            <li><a href="/setting">Setting</a></li>
            {{.NodeClientStatMenu}}
            {{.NodeServerStatMenu}}
          </ul>
        </nav>
        <article>
          <h1>Statistics</h1>
          <form id='search' action="/statistics/client/?page_num=1&sort=0" method="post">
            <div class="search_area">                
              <div class="item">
                <span class="title">Time</span>
                <span class="condition">
                  <input type="text" style="width: 140px" name="start_time" value="{{.SearchStartTime}}" onBlur="dateCheckValidation(this);"/> ~ <input type="text" style="width: 140px" name="end_time" value="{{.SearchEndTime}}" onBlur="dateCheckValidation(this);"/>
                </span>
              </div>
              <div class="item">
                <span class="title">Client</span>
                <span class="condition">
                  <input type="text" name="client_ip" style="width: 120px" value="{{.SearchClientIP}}" onBlur="ipCheckValidation(this);"/>
                </span>
              </div>
              <div class="item">
                <span class="title">Node Client IP</span>
                <span class="condition">
                  <select name="nic_ip">
                    <option>All</option>
                    {{ range .NICIPHTMLList }}
                    {{.NICIP_HTML}}
                    {{ end }}
                  </select>
                  :&nbsp;<input type="text" maxlength="5" name="nic_port" value="{{.SearchNICPort}}" oninput="portMaxValue(this);"/>
                </span>
              </div>
              <div class="item">
                <span class="title">Proxy</span>
                <span class="condition">
                  <select name="proxy_ip">
                    <option>All</option>
                    {{ range .ProxyIPHTMLList }}
                    {{.ProxyIP_HTML}}
                    {{ end }}
                  </select>
                  :&nbsp;<input type="text" maxlength="5" name="proxy_port" value="{{.SearchProxyPort}}" oninput="portMaxValue(this)"/>
                </span>
              </div>
              <div class="item">
                <button type="button" class="green" onclick="document.getElementById('search').submit();">Search</button>
              </div>
            </div>
          </form>
          <hr />
          <table class="table_fixed" id="stat_table">
            <colgroup>
              <col width="5%"><col width="15%"><col width="15%"><col width="15%"><col width="5%"><col width="15%"><col width="5%"><col width="15%"><col width="15%">
            </colgroup>
            <thead>
              <tr>
                <th></th>
                {{.SortTime}}
                {{.SortClientIP}}
                {{.SortNodeIP}}
                <th>Port</th>
                {{.SortProxyIP}}
                <th>Port</th>
                <th>Inbound</th>
                <th>Outbound</th>
              </tr>
            </thead>
            {{ range .StatInfo }}
            <tr style="display:{{.StatCommon.TrInfo.Style}};" data-groupId="{{.StatCommon.TrInfo.DataGroupID}}" data-first="{{.StatCommon.TrInfo.DataFirst}}">
              <td class="col_0"><a href="#" onClick="eventonclick(this)">+</a></td>
              <td class="col_1">{{.StatCommon.Time}}</td>
              <td class="col_2">{{.StatCommon.Client_IP_Str}}</td>
              <td class="col_3">{{.StatCommon.Node_IP_Str}}</td>
              <td class="col_4">{{.StatCommon.Node_Listen_Port}}</td>
              <td>{{.StatData.Proxy_IP_Str}}</td>
              <td>{{.StatData.Proxy_Listen_Port}}</td>
              <td>{{.StatData.Inbound}}</td>
              <td>{{.StatData.Outbound}}</td>
            </tr>
            {{ end }}
          </table>
          <div class="paginate_group">                
            <span class="paginate_complex">
              <a class="direction prev" href="{{.FirstPage}}"><span></span><span></span> 처음</a>
              <a class="direction prev" href="{{.PrevPage}}"><span></span> 이전</a> 
              {{ range .PageNumInfo }}
              {{.TagStart}}{{.PageNum}}{{.TagEnd}}
              {{ end }}
              <!--
                <strong>2</strong> 
                <a href="#">3</a> 
              -->
              <a class="direction next" href="{{.NextPage}}">다음 <span></span></a> 
              <a class="direction next" href="{{.LastPage}}">끝 <span></span><span></span></a>
            </span>                
          </div>
        </article>
      </section>
    </div>
    <footer>
      <span>Copyright ⓒ 2019 innogskorea.crop. All right reserved.</span>
    </footer>
  </body>
</html>
